*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;

}
.container{
    padding: 1%;
    margin: 0 15%;

}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}
.text-black{
    color: black;
}

.clearfix{
    clear: both;
    float: none;
}
a{
    color: #5d54a4;
    text-decoration: none;
}
a:hover{
    color: #9388e2;
}

.tbl-full{
    width: 100%;
}

.tbl-30{
    margin-left: 15%;
    width: 70%;
}

input{
    width: 100%;
    border: 4px solid #998eee;
    padding: 12px 20px;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.btn{
    padding: 2%;
    width: 150px;
    left: 0;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
}

.open{
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 20px;
}

.btn-primary{
    background-color: #5d54a4;
    text-decoration: none;
    font-weight: bold;
    padding: 1%;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #998eee;
}

.btn-secondary{
    background-color: rgb(106, 255, 69);
    text-decoration: none;
    font-weight: bold;
    padding: 1%;
    color: white;
    cursor: pointer;
}
.btn-secondary:hover{
    color: white;
    background-color: rgb(120, 150, 50);
}

.btn-danger{
    background-color: rgb(255, 5, 5);
    text-decoration: none;
    font-weight: bold;
    padding: 1%;
    color: white;
    cursor: pointer;
}
.btn-danger:hover{
    color: white;
    background-color: rgb(179, 82, 82);
}
button{
    background-color: #5d54a4;
    border: none;
    border-radius: 10%;
    width: 40%;
    height: 45px;
    margin-left: 26%;
    text-decoration: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
button:hover{
    color: white;
    background-color: #9388e2;
}
.success{
    color: green;
}
.error{
    color: red;
}

/* css for main content */
.main-content{
    padding: 3% 0;
}

.mainCon{
    margin-left: 300px;
}

.boxx{
    width: 18%;
    background-color: #ffffff;
    margin: 1%;
    padding: 2%;
    border-radius: 8%;
    text-align: center;
    float: left;
}
/* css for footer */
.footer{
    background-color: #5d54a4;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
}

/* css for login */
.login{
    width: 30%;
    /* border: 1px solid grey; */
    margin: 10% auto;
    padding: 2%;
    box-shadow: 6px 7px 7px 8px grey;
}

/* CSSS for navbar section */

.navbar {
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.logo{
    width: 5%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.menu{
    line-height: 40px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/* CSSS for side navbar section */
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #5d54a4;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 1s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #cdcdcd;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 15%;
        float: none;
        margin: 1% auto;
    }

    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }

    .rave ul{
        text-align: center;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }
}

/* css for login */
.login{
    width: 30%;
    margin: 10% auto;
    padding: 2%;
    box-shadow: 6px 7px 7px 8px grey;
}
.login-input{
    width: 80%;
    padding: 12px 0;
    border: none;
    border-bottom: 2px solid #5d54a4;
    box-sizing: border-box;
}

.btn-login{
    background-color: #5d54a4;
    border: none;
    border-radius: 10%;
    width: 20%;
    height: 45px;
    margin-left: 26%;
    text-decoration: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.login-text{
    color: black;
    text-decoration: none;
}

.register{
    width: 30%;
    margin: 2% auto;
    padding: 2%;
    box-shadow: 6px 7px 7px 8px grey;
}

.badge:after{
    content:attr(value);
    font-size:12px;
    color: #fff;
    background: red;
    border-radius:50%;
    padding: 0 5px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
}